html, body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.error {
    color: darkred;
}

nav#main {
    display: block;
    height: 48px;
    line-height: 48px;
    width: 100%;
    background-color: deepskyblue;
}

nav#main > ul {
    margin: 0;
}

nav > ul > li {
    visibility: visible;
    width: auto;
    display: block;
    list-style: none;
    height: 100%;
    padding: 0 8px;
    margin: 0;
}

nav#main > ul > li > a, nav > ul > li > a:visited {
    text-decoration: none;
    color: white;
    height: 100%;
}

li.left {
    float: left;
}

li.right
{
    float: right;
}

nav#comicnav > ul
{
    list-style: none;
    display: block;
    width: 100%;
}
nav#comicnav li:first-child
{
    float: left;
}
nav#comicnav li:last-child
{
    float: right;
}

div.lines > *
{
    width: 100%;
}

/* This part of the website only works if the user has enabled javascript.
 * To accommodate for users without Javascript, this element is invisible by default and made visible using JS
 */
select#select_chapter
{
    visibility: hidden;
}

ul#chapterlist{
    display: flex;
    flex-wrap: wrap;
}
li.chapter{
    list-style: none;
    flex-basis: 33%;
}

li.page
{
    display: inline-block;
    vertical-align: top;
    list-style: none;
}
div#chapterdescription > div
{
    display: inline-block;
    vertical-align: top;
}