<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BCB Database{% endblock %}</title>
    {% load static %}<link rel="stylesheet" type="text/css" href="{% static "style.css" %}"/>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% block navigation %}
        {% if nav %}
            {{ nav }}
        {% else %}
            <p class="error">NAV IS MISSING!!!</p>
        {% endif %}
    {% endblock %}
    {% block contents %}
    {% endblock %}
{% endblock %}

    {% load static %}
    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'navdropdown.js' %}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>