<nav>
    <ul>
        <li><a href="{% url 'ComicDatabase:index' %}">Home</a></li>
        <li><a href="{% url 'ComicDatabase:search' terms %}">Search</a></li>
        {% if chapter and page %}
            <li><a href="https://www.bittersweetcandybowl.com/c{{ chapter.number }}/p{{ page }}/">Read the page on the
                BCB site</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'ComicDatabase:logout' %}">Log out</a></li>
        {% else %}
            <li><a href="{% url 'ComicDatabase:login' %}">Log in</a></li>
        {% endif %}
    </ul>
</nav>