<nav id="main">
    <ul>
        <li class="left"><a href="{% url 'ComicDatabase:index' %}">Home</a></li>
        <li class="left">
            <form method="post" action="{% url 'ComicDatabase:search' %}">
                {% csrf_token %}
                <input type="text" name="terms" placeholder="Search terms"{% if terms %} value="{{ terms }}"{% endif %}>
                <input type="submit" value="Search">
            </form>
        </li>
        {% if chapter and page %}
            <li class="left"><a href="https://www.bittersweetcandybowl.com/c{{ chapter.number }}/p{{ page }}/">Read the page on the
                BCB site</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="right"><a href="{% url 'ComicDatabase:logout' %}">Log out</a></li>
            {% if page and chapter %}
                {% if not editing %}
                <li class="right"><a href="{% url 'ComicDatabase:page_edit' chapternr=chapter.number page=page %}">Edit me</a></li>
                {% else %}
                <li class="right"><a href="{% url 'ComicDatabase:page' chapternr=chapter.number page=page %}">Finished editing</a></li>
                {% endif %}
            {% endif %}
        {% else %}
            <li class="right"><a href="{% url 'ComicDatabase:login' %}">Log in</a></li>
        {% endif %}
        <li class="right">
            <select id="select_chapter" autocomplete="off">
                {% for c in all_chapters %}
                <option {% if c.number == chapter.number %}selected="selected" {% endif %}value="{{ c.number|floatformat }}">{{ c.number|floatformat }}: {{ c.title }}</option>
                {% endfor %}
            </select>
        </li>
    </ul>
</nav>