{% extends 'ComicDatabase/basic.html' %}
{% block title %}
    Chapter {{ chapter.number }}, page {{ page }}
{% endblock %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "browse.css" %}"/>
{% endblock %}

{% block contents %}
    <div class="search">
        {% if terms %}
            <a href="{% url 'ComicDatabase:search' terms %}">&larr;Go back to search results for
                &quot;{{ terms }}&quot;</a>
        {% endif %}
    </div>
    <div class="split">
        <div class="page">
            <a href="https://www.bittersweetcandybowl.com/c{{ chapter.number }}/p{{ page }}/">
                <img src="https://blasto.enterprises/comics/{{ chapter.number }}/{{ page }}{{ chapter.extension }}"
                     alt="Chapter {{ chapter.number }}, page {{ page }}"/>
            </a>
        </div>{% comment %}
            Commented the newline because the extra text breaks HTML
        {% endcomment %}<div class="lines">
            {% block linetable %}
            <table>
                <tr>
                    <th>Character</th>
                    <th>Line</th>
                </tr>
                {% for line in lines %}
                    <tr>
                        <td>{{ line.character.name }}</td>
                        <td>{{ line.text }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // Enable keyboard navigation
        // Use control + arrow keys to move to the next/previous page
        $(document).keypress(function (event) {
            if (!event.ctrlKey)
            {
                return;
            }
            switch (event.keyCode)
            {
                default:
                    // Any unused button
                    break;
                case 37: // left arrow
                    $('#prev_page').click();
                    break;
                case 39: // right arrow
                    $('#next_page').click();
                    break;
            }
        });
    </script>
{% endblock %}