{% extends 'ComicDatabase/page.html' %}
{% block title %}Editing Chapter {{ chapter.number }}, page {{ page }}{% endblock %}
{% block linetable %}
    <table>
        <tr>
            <th>Character</th>
            <th>Line</th>
            <th>Actions</th>
        </tr>
        {% for line in lines %}
            <tr>
                <td>{{ line.character.name }}</td>
                <td>{{ line.text }}</td>
                <td>
                    <a href="#up">&uparrow;</a>
                    <a href="#down">&DownArrow;</a>
                    <a href="#editline">&#x270E;</a>
                    <a href="#delete">&cross;</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block javascripts %}
    {% load static %}
    <script src="{% static 'api.js' %}"></script>
    <script>
        var server = new Server();

        window.addEventListener('load', function () {
           server.addLine(
            1.0, 2, 6, 0, 'Heading out, Lucy dear?'
            );
        });
    </script>
{% endblock %}